#tasksView {
  position: relative;
  background-color: #f3f2f2;

  // Flex
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  // Blocks
  & .search-section {
    position: absolute;
    top: -60px;
    height: 100px;
    width: 100%;
    background-color:  #f3f2f2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.5s ease;

    // Elements
    &__filters {
      height: 60px;
      width: 100%;

      display: flex;
      align-items: center;
    }
    &__filter-item {
      padding-left: 5px;
      padding-right: 5px;
      min-width: 24%;

      flex-grow: 1;
    }
    &__collapse-button {
      height: 40px;
      width: 100%;
      cursor: pointer;
      text-align: center;
      background-color: #dfdddd;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    // Modifiers
    &--collapsed {
      top: 0px;
    }
  }
  & .tasks-list-section {
    position: absolute;
    top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    transition: all 0.5s ease;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;

    // Flex
    display: flex;
    flex-wrap: wrap;

    // Elements
    &__task {
      max-width: 24.3%;
      width: 100%;
      margin: 5px;

      // Flex
      display: flex;
      flex-grow: 1;

      &:nth-child(4n) {
        margin-right: 0px;
      }
    }

    // Modifiers
    &--collapsed {
      top: 100px;
      height: calc(100% - 100px);
    }
  }
}