#tasksView {
  position: relative;

  // Flex
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & .search-section {
    position: absolute;
    top: -110px;
    height: 150px;
    width: 100%;
    transition: all 0.5s ease;
    background-color: lawngreen;

    & .search-section__filters {
      height: 110px;
      width: 100%;
    }
    & .search-section__collapse-button {
      height: 40px;
      width: 100%;
      cursor: pointer;
      text-align: center;
    }
    
    &.collapsed {
      top: 0px;
    }
  }
  & .tools-section {
    position: absolute;
    top: 40px;
    height: 50px;
    width: 100%;
    transition: all 0.5s ease;
    background-color: lightblue;

    &.collapsed {
      top: 150px;
    }
  }
  & .tasks-list-section {
    position: absolute;
    top: 90px;
    height: calc(100% - 90px);
    width: 100%;
    transition: all 0.5s ease;
    background-color: red;

    &.collapsed {
      top: 200px;
      height: calc(100% - 200px);
    }
  }
}