.card {
  width: 100%;
  max-width: 100%;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #747373;
  overflow: hidden;


  // Flex
  display: flex;
  flex-direction: column;

  // Elements
  &__image {
    min-width: 100%;
    max-height: 150px;
    overflow: hidden;
    object-fit: cover;
  }
  &__title {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  &__description {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    font-size: 14px;
    opacity: 0.5;
  }
  &__actions {
    height: 40px;

    // Flex
    display: flex;
  }
  &__action {
    font-size: 20px;
    color: $accent-color;
    transition: all ease 0.5s;
    cursor: pointer;

    &:hover {
      color: $text-light-color;
      background-color: $accent-color;
    }

    // Flex
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    // Modifiers
    &--delete {
      color: $delete-color;

      &:hover {
        color: $text-light-color;
        background-color: $delete-color;
      }
    }
    &--update {
      color: $update-color;

      &:hover {
        color: $text-light-color;
        background-color: $update-color;
      }
    }
    &--detail {
      color: $success-color;

      &:hover {
        color: $text-light-color;
        background-color: $success-color;
      }
    }
  }
}